<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p>olebogeng.com</p>
    </div>
              <ul >
                  <li><a routerLink="">Trolley</a></li>
                  <li><a routerLink="">Logout</a></li>
                  
                </ul>
  </div>
</nav>
<div class="row">
  <div class="col-xs-12 no-space">
    
  </div>
</div>
<div class="col-xs-12 col-md-3 col-md-push-9">
  <div class="row">

  </div>
</div>
<div class="col-xs-12 col-md-9 col-md-pull-3">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
    <div class="tileContainer">
        <a routerLink='/bakery-products'>
            <img src="assets/bakery.jpg">
            <span class="title">BAKERY</span>
          </a>
    </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="tileContainer">
          <a routerLink='health'>
              <img src="assets/FRUIT.jpg">
              <span class="title">FRUITS</span>
            </a>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
<div class="tileContainer">
    <a routerLink='electronics'>
        <img src="assets/VEGETABLES.jpg">
        <span class="title">VEGETABLES</span>
      </a>
</div>
    </div>
  </div>
</div>
