<div class="main-nav">
  <div class="headerlogo">
    <a href="">
      <img class="logo-img" src="assets/LogoPnP.png">
    </a>
  </div>
  <div class="goto-shop">
    <a href="">GO TO ONLINE SHOP</a>
  </div>

  
  <div class="col-md-7 content">
    <div>
        <h1 class="subHeaderArea">Login to Start Shopping Now</h1>
    </div>
    <form #form='ngForm'  autocomplete="off" (submit)="onSubmit(form)">
                <div class="form-group">
                    <label class="controlLabel">Email/Username</label>
                    <input class="form-control" #UserName='ngModel' name="UserName" [(ngModel)]=formModel.UserName type="text" required>
            
                  </div>
                <div class="form-group">
                    <label class="controlLabel">Password</label>
                    <input class="form-control" #Password='ngModel' name="Password" [(ngModel)]=formModel.Password type="password" required>
                  </div>
        <div class="form-row">
          <div class="form-group">
              <button class="btn btn-primary btn-bottom" [disabled]="form.invalid" style="height: 3em; width:10em; background: #FFFFFF; color:#795548; border:#795548 1px solid; border-radius: 0px; border-radius: 0px; font-weight:bold" type="submit">Sign In</button>
              <button class="btn btn-primary btn-bottom" style="height: 3em; width:10em; margin-left:2em; background: #FFFFFF; color:#795548; border:#795548 1px solid; border-radius: 0px; font-weight:bold">Sign Up</button>
          </div>
         
        </div>
      </form>
</div>
