<nav class="navbar navbar-light bg-light" >
  <h4>olebogeng.com</h4>
</nav>
<div class="col-md-9">
<div style="display: flex; background: #6D4C41; margin: 10px">
  <h1>My Trolley: {{trolley}} Item(s)</h1>
  <h1>Total Price: R{{trolleyTotal}} </h1>
  <button class="btn-checkout">CHECK OUT</button>
</div>
<div class="col-xs-12">
<div class="itemListContainer">
  <div class="selectbuttons">
    <div class="col-md-3">
      <button>DESELECT ALL</button>
    </div>
    <div class="col-md-3">
      <button>COLLAPSE ALL</button>
    </div>
    <div class="col-md-3">
      <button>SAVE TO SHOPPINGLIST</button>
    </div>
    <div class="col-md-3">
      <button>REMOVE SELECTED ITEMS</button>
    </div>
  </div>
  <div class="listHeader">
    <div class="col-md-3">
        <h5>PRODUCT</h5>
    </div>
    <div class="col-md-3">
        <h5>DESCRIPTION</h5>
    </div>
    <div class="col-md-3">
        <h5>QUANTITY</h5>
    </div>
    <div class="col-md-2">
        <h5>PRICE</h5>
    </div>
  </div>
</div>
<div class="bottomcart" *ngFor="let item of cartItems">
  <ol>
    <div class="col-md-3" style="margin-top: 10px">
        <a class='far fa-window-close' (click)="OnRemoveItem(item.productID)" style="color:green; margin:5px"></a>
      <img src="assets/{{item.productImage}}" alt="" width="100px" height="85px">
    </div>
    <div class="col-md-3" style="margin-top: 15px; font-size: 10pt; color: #575757; font-family: Arial, Helvetica, sans-serif; font-weight:bold">
      {{item.productBrand}}<br>
      {{item.productName}}<br>
      {{item.productMass}}
    </div>
    <div id="addremove"  class="col-md-3"><button class="btn btn-secondary" (click)="OnReduce(item)">-</button>
      <div class="itemcount">{{item.cartItemCount}}</div>
      <button class="btn btn-secondary" (click)="OnIncrease(item)" >+</button>
    </div>
    <div class="col-md-2" style="color:#575757; margin-top: 25px; font-weight: bold; font-family: Arial, Helvetica, sans-serif">
      R{{item.productPrice}}<br>
      R{{item.productPrice * item.cartItemCount}}
    </div>
  </ol>
</div>
</div>
</div>
