<div>
<div class="col-md-9">
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class="tileContainer">
          <a routerLink='/fresh-food'>
              <img src="assets/FRESH-FOOD.jpg" alt="">
              <span class="title">FRESH FOOD</span>
            </a>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="tileContainer">
          <a routerLink='pantry'>
              <img src="assets/sub-cat-tile-2.jpg">
              <span class="title">PANTRY</span>
            </a>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="tileContainer">
          <a routerLink='house-hold'>
              <img src="assets/Household-Cleaning.jpg">
              <span class="title">HOUSEHOLD & CLEANING</span>
            </a>
      </div>
      
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
    <div class="tileContainer">
        <a routerLink='baby'>
            <img src="assets/Baby.jpg">
            <span class="title">BABY</span>
          </a>
    </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="tileContainer">
          <a routerLink='health'>
              <img src="assets/Health-Beauty.jpg">
              <span class="title">HEALTH & BEAUTY</span>
            </a>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
<div class="tileContainer">
    <a routerLink='electronics'>
        <img src="assets/Electronics-Office.jpg">
        <span class="title">ELECTRONICS & OFFICE</span>
      </a>
</div>
    </div>
  </div>
</div>
</div>

</div>